@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
}



<h2> @Model.Name </h2>

<li>Genre: @Model.Genre.Name</li>
<li>ReleaseDate: @String.Format("{0:D}", Model.ReleaseDate); </li>
<li>Date Added: @String.Format("{0:D}",Model.DateAdded);</li>
<li>Number in Stock: @Model.NumberStock</li>